.background {
  background-image: url('./Images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.auth_button {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 200px;
}

.title-text {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  top: 80px;
}
